/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */

html,body {
  font-family: 'Rubik';
}

/* Body */
.rooms-top {
  padding: 112px;
}

.room-row {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 45px;
}

.room-oder {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 5px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.room-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.room-des {
  padding: 90px 111px 90px 111px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.room-des .heading{
  font-size: 38px;
  margin-bottom: 30px;
  font-weight: 10;
  line-height: 1.5;
  color: #000000c2;
}

.room-des span{
  font-size: 40px;
  color: #212529;
}

.room-des sup{
  font-size: 20px;
  color: #212529;
  top: -1em;
}

.room-des sub{
  font-size: 20px;
  color: #212529;
  bottom: 0em;
}

.room-des ul{
  margin: 0px;
  padding: 0px;
}

.room-des li {
  font-size: 18px;
  margin: 10px;
  padding: 0px;
  list-style: none;
  color: #808080;
  line-height: 1.5;
  margin-bottom: 10px; 
}
  
.room-des li strong {
  font-weight: 450;
  color: #000; 
  font-size: 18px;
}

.room-des li sup{
  color: #808080;
  font-size: 12px;
  top: -6px;
}

.btn-readmore {
  display: block;
  padding: 15px 40px;
  margin-top: 35px !important;
  color: white;
  background-color: #fc3c3c;
  border: 2px #fc3c3c solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

.btn-readmore:hover {
  background: none;
  color: #fc3c3c;
}

/* More rooms text */

.more-room-wrap{
  padding: 0px 25% 48px 25%;
}

.more-room{
  padding: 100px 0px 0px;
  margin: 0px -15px 48px;
  text-align: center;
}

.more-room .heading{
  color: #000000e3;
  font-size: 53px;
  font-weight: 350;
  line-height: 1.2;
  margin-bottom: 40px;
}

.more-room-content{
  font-size: 17px;
  margin-bottom: 1rem;
  font-weight: 350;
}

/* Room bot  */
.room-bot-wrap{
  background-color: #fff;
  display: grid;
  padding: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 600px 600px 600px;
  grid-column-gap: 45px;
  grid-row-gap: 48px;

}

.room-bot-detail{
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.room-bot-img img{
  object-fit: cover;
  width: 404px;
  height: 230px;
}

.room-bot-text{
  padding: 30px;
}

.room-bot-text .heading{
  font-size: 30px;
  margin-bottom: 26px;
  font-weight: 10;
  line-height: 1.5;
  color: #000000c2;
}

.room-bot-text span{
  font-size: 35px;
  color: #212529;
}

.room-bot-text sup{
  font-size: 18px;
  color: #212529;
  top: -1em;
}

.room-bot-text sub{
  font-size: 18px;
  color: #212529;
  bottom: 0em;
}

.room-bot-text ul{
  margin: 0px;
  padding: 0px;
}

.room-bot-text li {
  font-size: 16px;
  margin: 10px;
  padding: 0px;
  list-style: none;
  color: #808080;
  line-height: 1.5;
  margin-bottom: 10px; 
}
  
.room-bot-text li strong {
  font-weight: 450;
  color: #000; 
  font-size: 16px;
}

.room-bot-text li sup{
  color: #808080;
  font-size: 12px;
  top: -6px;
}

/* Reviews */
.review-wrap{
  padding: 112px 0px;
  margin-left: 12px;
}

.review-heading{
  position: relative;
}

.review-text{
  display: inline-block;
  font-size: 20px;
  color: #999999;
  font-weight: 100;
  padding-bottom: 30px;
}

.review-text::after{
  content: "";
  height: 2px;
  width: 80px;
  top: 14px;
  left: 7rem;
  background-color: #999999;
  position: absolute;
}

.review-heading h2{
  font-size: 53px;
  margin-bottom: 40px;
  font-weight: 100;
}

.review-comment{
  padding-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 45px;
}

.guest-comment{
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  height: 310px;
  padding: 30px;
  display: grid;
  grid-template-rows: 86px 224px;
}

.guest-info{
  display: flex;
}

.guest-img{
  width: 70px;
  height: 70px;
  object-fit: contain;
  max-width: 100%;
  border-radius: 50%;
}

.guest-name-status{
  padding-left: 25px;
}

.guest-name{
  font-size: 20px;
}

.guest-status{
  font-size: 16px;
  color: #808080;
}

.guest-text{
  color:#212529 ;
}



